/*fichier-fixes*/
@import "./libs/reset.scss";
@import "./libs/footer.scss";
@import "./libs/header.scss";
@import "./libs/variables.scss";

/*font-awsome*/
@import "./environnement-sass/scss/fontawesome.scss";
@import "./environnement-sass/scss/solid.scss";
@import "./environnement-sass/scss/brands.scss";
@import "./environnement-sass/scss/regular.scss";

/*parametres généraux*/
body {
  background-color: $bloc-color-secondary;
  font-family: "Roboto", sans-serif;
  /*
  overflow-y: hidden; 
  animation-name: hidden-annule;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  animation-duration: 2s;*/
}

#bloc-loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: z-index 2s linear, opacity 2s linear;
  background-color: #ffffff;
  animation-name: disparition;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  animation-duration: 2s;
  z-index: 30;
}
#bloc-svg {
  width: 20%;
  height: 20%;
  margin: auto;
  position: fixed;
}

.loading {
  /*p : bloc des lettres*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  letter-spacing: 4px;
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

.loading__letter {
  /*span : les lettres*/
  color: transparent;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: 3.1s;
}

.loading__letter:nth-child(3) {
  animation-delay: 3.2s;
}

.loading__letter:nth-child(4) {
  animation-delay: 3.3s;
}

.loading__letter:nth-child(5) {
  animation-delay: 3.4s;
}

.loading__letter:nth-child(6) {
  animation-delay: 3.5s;
}

.loading__letter:nth-child(7) {
  animation-delay: 3.6s;
}

.loading__letter:nth-child(8) {
  animation-delay: 3.8s;
}

.loading__letter:nth-child(9) {
  animation-delay: 4s;
}

.loading__letter:nth-child(10) {
  animation-delay: 5.2s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
    color: #9256dcfc;
  }
  40% {
    transform: scale(1.5);
    color: #9256dcfc;
  }
  80% {
    transform: scale(1.2);
    color: #ff79da;
  }
  100% {
    transform: scale(1);
    color: #9256dcfc;
  }
}

#couteau {
  fill: transparent;
  transform-origin: 50% 50%;
  animation-delay: 1.1s;
  animation-name: spin-1;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

@keyframes spin-1 {
  0% {
    fill: #9356dc;
    transform: rotate(360deg);
    opacity: 1;
  }
  70% {
    fill: #9356dc;
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    fill: #9356dc;
    opacity: 0;
  }
}

#fourchette {
  fill: transparent;
  transform-origin: 50% 50%;
  animation-delay: 1s;
  animation-name: spin-2;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

@keyframes spin-2 {
  0% {
    fill: rgb(118, 253, 192);
    transform: rotate(360deg);
    opacity: 1;
  }
  70% {
    fill: rgb(118, 253, 192);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    fill: rgb(118, 253, 192);
    opacity: 0;
  }
}

@keyframes hidden-annule {
  0% {
    overflow-y: hidden;
    -webkit-overflow-y:hidden;
  }

  95% {
    overflow-y: scroll;
    -webkit-overflow-y:scroll;

  }
  100% {
    overflow-y: scroll;
    -webkit-overflow-y:scroll;
  }
}
@keyframes spin-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
section h2 {
  text-align: left;
  width: 100%;
  padding: 50px 0px 5px 50px;
}
button {
  border-radius: 20px;
  height: 45px;
}
/*parametres généraux*/

#localisation {
  padding: 5px 0px 5px 0px;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.1);
  h2 {
    display: none;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;

    input {
      background-color: #eaeaea;
      height: 40px;
      width: 120px;
      padding-left: 15px;
      font-weight: bold;
      font-size: medium;
    }
    i {
      color: #535353;
      font-size: 25px;
      width: auto;
    }
  }
}

#bloc-presentation {
  background-color: $bloc-color-primary;
  text-align: center;
  h1 {
    padding: 30px 0px 0px 0px;
    width: 60%;
  }
  p {
    padding: 20px 0px 30px 0px;
    width: 80%;
    font-weight: lighter;
  }
  button {
    background-image: $button-degrade;
    color: $police-color-bouton;
    background-color: #7d7878;
    width: 50%;
    margin-bottom: 20px;
    font-weight: 600;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
    &:hover {
      box-shadow: $shadow-hover;
      background-color: white;
    }
  }
}

#bloc-fonctionnement {
  width: 100%;
  height: 530px;
  button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $bloc-color-primary;
    font-size: 20px;
    width: 90%;
    height: 16%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    transition: box-shadow 0.5s ease-in-out;
    &:hover {
      background-color: #bd8df720;
      box-shadow: $shadow-hover;
      transition: box-shadow 0.5s ease-in-out;
      &:hover i {
        color: $primary-color;
      }
    }
    i {
      font-size: 30px;
      width: 15%;
      color: #ccc;
      transition: color 0.3s;
    }
    span {
      /*numero devant les bouton*/
      font-size: 15px;
      border: 2px solid $primary-color;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      background-color: $primary-color;
      color: $police-color-icone;
      margin-left: -10px;
    }
  }
}

#bloc-restaurant {
  background-color: $bloc-color-primary;
  margin-top: 30px;
  div {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: center;
    position: relative;
    order: 1;
    span {
      width: 90px;
      padding: 10px;
      background-color: $tertiaire-color;
      color: #3ba98c;
      font-weight: 500;
      border-radius: 5px;
      z-index: 2;
      position: absolute;
      right: 15px;
      text-align: center;
      top: 15px;
    }
  }
  article {
    display: flex;
    flex-direction: column-reverse;
    background-color: $bloc-color-secondary;
    width: 90%;
    margin: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    position: relative;
    &:hover {
      box-shadow: $shadow-hover;
      transform: translateY(-10px);
    }
    a {
      display: flex;
      flex-direction: column-reverse;
      color: black;
      p{
        padding-left: 10px;
      }
    }

    h3 {
      order: 1;
      width: 100%;
      height: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 10px;
      padding-top: 10px;
      }
      .bloc-coeur {
        width: 45px;
        height: 35px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: $bloc-color-secondary;
        right: 15px;
        overflow: hidden;
        &:hover i {
          cursor: pointer;
          -webkit-text-stroke: unset;
          -webkit-background-clip: text;
        }
        &:hover .coeur-2 {
          animation-name: remplissage-coeur;
          animation-duration: 1s;
          animation-fill-mode: both;
          -webkit-animation-name: remplissage-coeur;
          -webkit-animation-duration: 1s;
          -webkit-animation-fill-mode: both;
        }
        .coeur-2 {
          background: $button-degrade;
          -webkit-text-stroke: unset;
          -webkit-background-clip: text;
          font-size: 25px;
          height: 0px;
          position: absolute;
        }
        i{
          top: 5px;
          right: 10px;
          font-size: 25px;
          -webkit-text-stroke: 2px black;
          color: transparent;
          background: transparent;
          position: absolute;
          z-index: 10;
        }
    }
  }
}

@keyframes remplissage-coeur {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}
@-webkit-keyframes remplissage-coeur {
  from{
      height: 0px;
  }
  to{
      height: 30px;
  }
}

#image-restaurant-1 {
  background-image: url("image-restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
#image-restaurant-4 {
  background-image: url("image-restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
#image-restaurant-3 {
  background-image: url("image-restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#image-restaurant-2 {
  background-image: url("image-restaurant/stil-u2Lp8tXIcjw-unsplash.jpg");
}

@media screen and (min-width: 768px) {
  #bloc-fonctionnement {
    height: 530px;
    button {
      font-size: 22px;
      width: 90%;
      height: 20%;
      i {
        width: 20%;
        font-size: 40px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  #bloc-restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    article {
      width: 45%;
    }
  }
  #bloc-fonctionnement {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
    font-size: 22px;
    button {
      width: 30%;
      height: 40%;
      font-size: 22px;
      i {
        font-size: 40px;
        width: 20%;
      }
      span {
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
      }
    }
  }
  #bloc-presentation {
    button {
      font-size: large;
      width: 30%;
      height: 65px;
      border-radius: 30px;
    }
  }
  #localisation {
    height: 60px;
    div {
      padding: 0px;
      input {
        width: 130px;
        font-size: large;
      }
    }
  }
}
