@import "../libs/header.scss";
@import "../libs/footer.scss";
@import "../libs/reset.scss";
@import "../libs/variables.scss";
@import "../libs/mixins.scss";
@import "../libs/keyframes.scss";

@import "../environnement-sass/scss/fontawesome.scss";
@import "../environnement-sass/scss/solid.scss";
@import "../environnement-sass/scss/brands.scss";
@import "../environnement-sass/scss/regular.scss";

#bloc-header-menu {
    position: relative;
    padding-bottom: 165px;
    #img-header {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-image: url("../image-restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
}

#bloc-menu {
    border-radius: 40px 40px 0px 0px;
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    z-index: 5;
    h1 {
        padding: 30px 0px 0px 0px;
        font-family: "Shrikhand", cursive;
        text-align: left;
        width: 85%;
        position: relative;
    }
    .bloc-coeur{
        width: 45px;
        height: 35px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color: #f6f6f6;
        &:hover i{
            cursor: pointer;
            -webkit-text-stroke: unset;
            -webkit-background-clip: text;
        }
        &:hover .coeur-2{
            animation-name: remplissage-coeur;
            animation-duration: 1s;
            animation-fill-mode: both;
            -webkit-animation-name: remplissage-coeur;
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: both;
        }
        .coeur-2 {
            background: $button-degrade;
            -webkit-text-stroke: unset;
            -webkit-background-clip: text;
            height: 0px;
            position: absolute;
        }
        i {
            font-size: 25px;
            -webkit-text-stroke: 2px black;
            color: transparent;
            background: transparent;
        }
    }

    @keyframes remplissage-coeur {
        from{
            height: 0px;
        }
        to{
            height: 30px;
        }
    }
    @-webkit-keyframes remplissage-coeur {
        from{
            height: 0px;
        }
        to{
            height: 30px;
        }
    }

    .bloc-animation-load__entree {
        @include declaration-animation-chargement-bloc-menu;
    }
    .bloc-animation-load__plat {
        @include declaration-animation-chargement-bloc-menu;
    }
    .bloc-animation-load__dessert {
        @include declaration-animation-chargement-bloc-menu;
    }

    $max: 7;
    @for $i from 1 to $max {
        .bloc-animation-load__entree:nth-child(#{$i}) {
            animation-delay: $i * 0.25s;
        }
        .bloc-animation-load__plat:nth-child(#{$i}) {
            animation-delay: $i * 0.25s;
        }
        .bloc-animation-load__dessert:nth-child(#{$i}) {
            animation-delay: $i * 0.25s;
        }
    }

    .section__aimation__chargement__menu {
        @include declaration-animation-chargement-section;
    }

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        background-color: $bloc-color-primary;
        padding: 10px 0px 20px 0px;
        h2 {
            width: 100%;
            padding: 10px 0px 5px 10px;
            font-weight: lighter;
        }
        .barre {
            width: 50px;
            height: 4px;
            margin-left: 10px;
            background-color: $tertiaire-color;
        }
        .bloc-article {
            background-color: $bloc-color-secondary;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 95%;
            max-height: 80px;
            min-height: 65px;
            border-radius: 10px;
            justify-content: flex-start;
            margin: 10px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: box-shadow 0.5s ease-in-out;
            @include hover-bloc-article-menu; /*hover version mobile,rotation et shadow*/

            h3 {
                width: 100%;
                padding-left: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            article {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                width: 80%;
                padding: 10px 0px 10px 0px;
                height: auto;
                transition: width 0.5s ease;

                p {
                    width: 95%;
                    padding-left: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .bloc-animation {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 20%;
                transition: width 0.5s ease;
                &:hover {
                    cursor: pointer;
                }
                .prix {
                    padding-bottom: 10px;
                    width: auto;
                    display: flex;
                    margin-right: 20px;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-start;
                }
                .animation {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    width: 0px;
                    height: auto;
                    background-color: $tertiaire-color;
                    border-radius: 0px 10px 10px 0px;
                    transition: width 0.5s ease;

                    i {
                        display: flex;
                        font-size: 30px;
                        color: $police-color-icone;
                    }
                }
            }
        }
    }
}
#bloc-bouton-commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px 50px;
    button {
        width: 50%;
        height: 50px;
        border-radius: 25px;
        font-size: large;
        /*background-image: $button-degrade; */
        background-color: #7d7878;
        background-image: $button-degrade;
        color: $police-color-bouton;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
        &:hover {
            box-shadow: $shadow-hover;
            background-color: #ffffff;
        }
    }
}
@media screen and (min-width: 768px) {

    #bloc-menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        h1 {
            width: 91%;
        }
    }
}

@media screen and (min-width: 1200px) {
    #bloc-menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        h1 {
            width: 93%;
        }
        section {
            width: 33%;
        }
        #bloc-article {
            &:hover .bloc-animation .animation {
                width: 70px;
                transition: width 0.5s ease;
            }

            &:hover .bloc-animation .animation i {
                animation-name: rotation;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
            }
            &:hover .bloc-animation {
                width: 30%;
                transition: width 0.5s ease;
            }
            &:hover article {
                width: 70%;
                transition: width 0.5s ease;
            }
        }
    }
    #bloc-menu section #bloc-article article {
        width: 85%;
        transition: width 0.5s ease;
    }

    #bloc-menu section #bloc-article .bloc-animation {
        width: 15%;
        transition: width 0.5s ease;
    }

    #bloc-bouton-commander {
        button {
            width: 20%;
        }
        #bloc-menu section #bloc-article {
            width: 80%;
        }
        #bloc-menu section #bloc-article .bloc-animation {
            width: 15%;
        }
    }
}
