footer {
    background-color: #353535;
    section {
        align-items: flex-start;
        padding-bottom: 30px;
    }
    section h2 {
        font-family: "Shrikhand", cursive;
        color: #ffffff;
        text-align: left;
        padding: 20px 0px 0px 20px;
    }
    ul{
        padding: 0px 0px 0px 20px;
        color: #ffffff;
        width: 100%;  
        
        li {
            padding-top: 10px;
        }
        li i {
            width: 20px;
        }
        .lien_footer{
            color: #ffffff;
        }
    }
}
