footer {
  background-color: #353535;
}
footer section {
  align-items: flex-start;
  padding-bottom: 30px;
}
footer section h2 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  text-align: left;
  padding: 20px 0px 0px 20px;
}
footer ul {
  padding: 0px 0px 0px 20px;
  color: #ffffff;
  width: 100%;
}
footer ul li {
  padding-top: 10px;
}
footer ul li i {
  width: 20px;
}
footer ul .lien_footer {
  color: #ffffff;
}

/*# sourceMappingURL=footer.css.map */
