header a {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px 0px 20px 0px;
  justify-content: center;
}
header a:hover i {
  color: #9356dc;
  transform: scale(1.3);
}
header a i {
  width: 0%;
  font-size: 30px;
  color: black;
  transition: transform 0.3s, color 0.3s;
}
header a svg {
  width: 90%;
}

/*# sourceMappingURL=header.css.map */
