header {
    a {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        padding: 30px 0px 20px 0px;
        justify-content: center;
        &:hover i{
            color: #9356dc;
            transform: scale(1.3);    
         }
        i {
            width: 0%;
            font-size: 30px;
            color: black;
            transition: transform  0.3s, color 0.3s;
        }
        svg {
            width: 90%;
        }
    }
}
