@mixin hover-bloc-article-menu {
    &:hover {
        box-shadow: $shadow-hover;
    }
    &:hover .bloc-animation .animation {
        width: 70px;
        transition: width 0.5s ease;
    }
    &:hover .bloc-animation .animation i {
        animation-name: rotation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    &:hover .bloc-animation .animation {
        width: 70px;
        transition: width 0.5s ease;
    }

    &:hover .bloc-animation .animation i {
        animation-name: rotation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    &:hover .bloc-animation {
        width: 30%;
        transition: width 0.5s ease;
    }
    &:hover article {
        width: 70%;
        transition: width 0.5s ease;
    }
}

@mixin declaration-animation-chargement-bloc-menu {
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}
@mixin declaration-animation-chargement-section {
    animation-name: fade;
    animation-duration: 1.5s;
}