* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"], input[type="text"] {
    cursor: pointer;
    border: none;
    outline: inherit;
}
html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

ul{
    list-style: none;
}