$primary-color: #9356dc;
$seconary-color: #ff79da;
$tertiaire-color: #99e2d0;

$bloc-color-secondary: #ffffff;
$bloc-color-primary: #f6f6f6;

$police-color-bouton: #ffffff;
$police-color-icone: #ffffff;

/*bouton submit*/
$button-degrade: linear-gradient(-10deg, rgba(149, 80, 234, 0.9), rgba(255, 102, 212, 0.9));
$shadow-hover: 5px 10px 10px rgba(0, 0, 0, 0.2);

.max-size {
  margin: auto;
  max-width: 1400px;
}

#max-footer {
  margin: auto;
  max-width: 1400px;
}
